.header1{
 
    position:fixed;
    width:100%;
    z-index:100;
}
nav{
    background:rgba(241, 196, 15);
    
    

}
#boton{
    border:none;
    box-shadow:none;
  
}

#menu ul li > a{
    color:#000;
}
#header1__nav-a{
    width:90%;
    
}



/*sesion1*/
.sesion1{
    background:linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)),url(../imgs/pexels-lennart-wittstock-316794.jpg);
   
    background-size:cover;
    position:relative;
    height:653px;
    display:flex;
    justify-content:center;
    align-items:center;
}
#content{
    background:rgba(0,0,0,.3);
    backdrop-filter:blur(8px);
    border-radius:10px;
    width:95%;
    padding:0px 2px;
}
#content h1{
    -webkit-text-fill-color:rgba(241, 196, 15);

}


/*sesion2*/
/*articulo 1*/

.sesion2__articulo1{
  
    padding:50px 10px;
    background:rgba(241, 196, 15);
}
#articulo1-a{
    color:#fff;
    background:rgb(20, 50, 80);
    padding:12px 40px;
}
.sesion2__articulo1-img{
  
    height:150px;
    margin-top:20px;
}
.sesion2__articulo1-img > img{

    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:10px;
    filter:drop-shadow(1px 2px 3px rgba(0,0,0,.7));
}



/*articulo 2*/
.sesion2__articulo2{
    margin-top:50px;
}
.cajas{
    margin-top:40px;
    padding:0px 10px;
}


.imagenes{

    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}
.img1, .img2, .img3, .img4{
    
    width:90%;
    height:180px;
    margin-top:20px;

}
.img1{
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)),url(../imgs/pexels-dominika-roseclay-1094794.jpg);
    background-size:cover;
    background-position:center;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
}
.img2{
    background:linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(../imgs/pexels-pixabay-161251.jpg);
    background-size:cover;
    background-position:center;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
}
.img3{
    background:linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(../imgs/pexels-kateryna-babaieva-3721426.jpg);
    background-size:cover;
    background-position:center;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
}
.img4{
    background:linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(../imgs/pexels-jaime-reimer-2749500.jpg);
    background-size:cover;
    background-position:center;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
}





/*articulo 3*/

.sesion2_articulo3{
    margin-top:50px;
    padding:0px 10px;
    background:linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),url(../imgs/pexels-brandon-montrone-1179225.jpg);
    background-position:center;
    background-size:cover;
    color:#fff;
    padding-top:30px;
    padding-bottom:30px;
}
.user, .data, .document{
    background:rgba(241, 196, 15, .4);
    width:60px;
    height:60px;
    border-radius:5rem;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto;
}
#span1{
    color:rgba(241, 196, 15);
}




/*aticulo4*/
.sesion2__articulo4{
    padding-top:50px;
    background:#c6d2d6;
    padding-bottom:50px;
}


.guide1{
    
    
    width:90%;
    height:350px;
    margin:auto;

}
.guidername{
    background:rgb(6, 6, 58);
    color:#fff;
}
#art4img1{
    width:100%;
    height:83%;
    object-fit:cover;

}



/*articulo5*/
.sesion2__articulo5{
    margin-top:70px;
    padding-bottom:50px;
}
.galleries{
    display:grid;
    place-items:center;
}
.gallery{
  
    width:95%;
    height:300px;
    margin-top:40px;
  
}
#articulo5img{
    width:100%;
    height:270px;
    object-fit:cover;
    
}
#articulo5img:hover{

    filter:drop-shadow(1px 1px 4px rgba(0,0,0,.6));
}
.gallery{
    background:rgba(241, 196, 15);
}



/*articulo6*/
.sesion2__articulo6{
    background:#f1f4f5;
    padding-top:50px;
    position:relative;
    height:1250px;
}
.prices{
    display:grid;
    place-items:center;
}
.price{
    
    width:90%;
    height:200px;
    margin-top:50px;
    position:relative;
  
   
    
}
.price1{
    background:rgba(241, 196, 15);
    position:absolute;
    padding:5px 20px;
    color:#fff;
    display:flex;
    justify-content:center;
    position:absolute;
    top:5px;
    right:5px;
   

}

#art6img{
    width:100%;
    height:100%;
    object-fit:cover;
}


.price2{
    background:rgb(13, 21, 136,.4);
    position:absolute;
    padding:5px 20px;
    color:#fff;
    display:flex;
    justify-content:center;
    flex-direction:column;
    position:absolute;
    bottom:0px;
    width:100%;
    height:0px;
    opacity:.0;
    transition:all 250ms;

}
.price:hover > .price2{
    opacity:unset;
    height:130px;
}




/*articulo7*/
.sesion2__articulo7{

    background:rgba(241, 196, 15);
    padding-top:50px;
    padding-bottom:40px;
}
.cartas{
    display:grid;
    place-items:center;
    margin-top:30px;
}
#cardta1{
    width:90%;
    background:#050547;
    margin-top:30px;
}





/*sesion3*/
.sesion3{
  
    
    padding-top:50px;
}
.sesion3__articulo1{
    padding:0px 10px;
}
.contact1{
    margin-top:40px;
}
.bxs-map, .bx-mail-send, .bxs-building{
    color:rgba(241, 196, 15);
    font-size:35px;
}

form{
   
    height:400px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    padding:0px 5px;
    border-radius:10px;
    padding-bottom:15px;
    box-shadow:1px 1px 6px 2px rgba(0,0,0,.6);
    margin-bottom:30px;
    margin-top:20px;
}

#input1, #input2, #input3, #textarea{
    width:270px;
    margin-top:20px;
}
#textarea{
    height:100px;
}
#input4{
    background:rgba(241, 196, 15);
    width:270px;
    margin-top:20px;
}

#socialmedia{
    width:260px;
    margin-top:70px;
    margin:auto;
}
iframe{
    width:100%;
    height:100%;

    
}
.ifframe{
    
    margin-top:40px;
    height:250px;
}



/*footer*/
footer{
    margin-top:40px;
    background:#060647;
    padding:50px 10px;
}
.cont1{
    margin-top:40px;
}
.cont1 ul {
    list-style:none;
}
.cont1 ul li > a{
    text-decoration:none;
    color:#fff;
}


#copyright{
    height:100px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;

    padding-top:10px;
}
#copia{
    
}